/* 
body.white{

    margin: 0;
    padding: 0;
    background: #eee !important;
    color: #000 !important;
    display: flexbox;

    h1{
      text-shadow: none;
    }

    strong{
      color: #000 !important;
    }
    
    a{
      color: #222;
      text-shadow: none;
      z-index: 20;
      position: relative;
    }

    a:hover{
      color: #000;
    }

}
*/
body {
  margin: 0;
  padding: 0;
  background: #161616;
  color: #eee;
  display: flexbox;
}

main {
  max-width: 1600px;
  margin: auto;
}

a {
  color: #fff;
}

blockquote {
  font-size: 22px !important;
  line-height: 30px;
  text-align: center;
  margin: 5vh auto;
}

h1 {
  font-family: "Cosi Azure";
  font-size: 84px;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  line-height: 30px;
  margin: 2%;
}

h1 small {
  font-size: 0.2em;
  margin-top: -50px;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  float: left;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 10px;
}

small {
  font-size: 0.5em;
}

img {
  max-width: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
  -webkit-filter: grayscale(180);
          filter: grayscale(180);
  border: 1px solid #111;
}

strong {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

p > i {
  color: #e17705;
}

div:hover > img {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#info {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  padding: 1% 2% 1% 1%;
}

.stars {
  font-size: 0.6em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: 36px;
  right: 3px;
  z-index: 10;
  background: #111;
  padding: 10px;
  color: #e17705;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.stars2 {
  font-size: 0.6em;
  color: #e17705;
  text-align: right;
  margin: -10px 10px;
  float: right;
}

.group {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: middle;
  margin: 0;
  border-top: 1px dashed #222;
  padding: 2% 10%;
  font-size: 18px;
}

.group h3 {
  margin: 0.2em 0;
}

.group a {
  color: #de1f45;
  display: contents;
  font-family: Arial, Helvetica, sans-serif;
}

.group .group {
  border-top: none;
  padding-top: 0;
}

.half {
  max-width: 45%;
  padding: 5px;
}

.half:nth-child(1) {
  text-align: start;
}

.half:nth-child(2) {
  text-align: start;
}

.third {
  max-width: 30%;
  margin: 0;
  padding: 5px;
}

.third strong a {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
}

.forth {
  width: 25%;
  margin: 0;
  padding: 5px;
}

/* navigation */
.topnav #myLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav a.icon {
  display: none;
}

/* transition */
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: #de1f45;
  width: 100%;
  height: 0%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

/* highlight */
.red-bg {
  display: inline;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#de1f45), to(#de1f45));
  background-image: linear-gradient(#de1f45, #de1f45);
  background-position: 0 0%;
  background-repeat: no-repeat;
  background-size: 0;
  -webkit-transition: background-size 1s 2.5s ease;
  transition: background-size 1s 2.5s ease;
  padding: 1px;
  -webkit-animation: example 2s linear 2s forwards alternate;
          animation: example 2s linear 2s forwards alternate;
  font-family: Arial, Helvetica, sans-serif;
}

@-webkit-keyframes example {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes example {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}

/* button */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
}

.button span {
  display: none;
}

.button a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #4e4e4e;
  padding: 24px 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  vertical-align: middle;
}

.button a i {
  font-size: 50px;
}

.button a:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.is-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #ccc !important;
  opacity: 1;
}

.button a::before {
  width: 100px;
  height: 20px;
  content: attr(alt);
  color: #222 !important;
  position: absolute;
  border-radius: 3px;
  top: 0px;
  margin: -15px -30px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  padding: 5px;
  text-align: center;
  background: #e17705;
  font-size: 10px;
  line-height: 20px;
  font-weight: 900;
  text-shadow: 0 0 0 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
}

.button a::after {
  width: 10px;
  height: 10px;
  content: '';
  background: #e17705;
  position: absolute;
  border-radius: 0px;
  top: 0px;
  margin: 10px -35px;
  -webkit-transform: scale(0) rotate(180deg) translate(100px);
          transform: scale(0) rotate(180deg) translate(100px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: -1;
}

.button a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #eee;
}

.button a:hover::after {
  -webkit-transform: scale(1) rotate(45deg) translate(0);
          transform: scale(1) rotate(45deg) translate(0);
  opacity: 1;
}

/* helper */
.fa-exclamation {
  font-size: 5em !important;
  width: 5%;
  float: left;
}

/*** circle **/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 90vh;
  opacity: 0.2;
}

.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  opacity: 0.2;
  top: -14vh;
  opacity: 0.2;
  width: 50%;
  right: -20vw;
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

.loader:hover > circle {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  background: red;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  will-change: transform;
}

circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}

circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}

circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}

circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}

circle:nth-of-type(1) {
  -webkit-animation-delay: -1.15s;
          animation-delay: -1.15s;
}

circle:nth-of-type(2) {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}

circle:nth-of-type(3) {
  -webkit-animation-delay: -3.45s;
          animation-delay: -3.45s;
}

circle:nth-of-type(4) {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 10vh;
  }
  body h1 {
    font-size: 3em;
  }
  .group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .group div {
    max-width: 100%;
  }
  .group div .homeImg {
      display: none;
    position: absolute;
    width: 100%;
    opacity: 0.05;
    top: -50vh;
  }
  .group div.forth {
    width: 100%;
  }
  .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button span {
    display: inline-block;
    margin: 0;
    padding: 1vh 5vw;
    vertical-align: top;
    font-size: 2em;
  }
  .button a {
    width: 100%;
    background: #161616;
  }
  .button a:hover {
    background: #052e05;
  }
  .button a::before,
  .button a::after {
    display: none;
  }
  /* navigation */
  .topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 20;
    display: block;
    background: #161616;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .topnav:hover #myLinks {
    visibility: visible;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
  }
  .topnav #myLinks {
    visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    display: none;
  }
  .topnav a {
    color: white;
    margin: 4vh 2em 4vh 0;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .topnav a i {
    margin: 0vh;
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    margin: 0;
    padding: 2vh;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }
  .fa-exclamation {
    float: right;
    margin: 5% -10%;
  }
}
/*# sourceMappingURL=main.css.map */
